<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing Images</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Editing Images</h1>
        </header>

        <h2>Image 1</h2>
        <div class="image-pair">
            <img src="images/deer.jpg" alt="Deer">
            <img src="images/deergimp.jpg" alt="Deer Edited">
        </div>

        <h2>Image 2</h2>
        <div class="image-pair">
            <img src="images/hb.jpg" alt="HB">
            <img src="images/hbgimp.jpg" alt="HB Edited">
        </div>

        <h2>Image 3</h2>
        <div class="image-pair">
            <img src="images/moon.jpg" alt="Moon">
            <img src="images/moongimp.jpg" alt="Moon Edited">
        </div>

        <h2>Image 4</h2>
        <div class="image-pair">
            <img src="images/orangecat.jpg" alt="Orange Cat">
            <img src="images/orangecatgimp.jpg" alt="Orange Cat Edited">
        </div>

        <h2>Image 5</h2>
        <div class="image-pair">
            <img src="images/storm.jpg" alt="Storm">
            <img src="images/stormgimp.jpg" alt="Storm Edited">
        </div>
    </div>
</body>

</html>
